%h1 Pinterest Clone
%hr

#wrapper.transitions-enabled.infinite-scroll.clearfix
	#columns
		- @pins.each do |pin|
			.pin
				= image_tag(pin.banner_url)
				%p= link_to pin.title, pin_path(pin)
				%p= pin.description